<div>
  <q-dialog v-model="serverPayConfirmDialog.show">
    <q-card class="q-pa-lg q-pt-xl" style="width: 500px">
      <q-card-section>
        <div class="text-h6">Server Invoice Received</div>
        {% raw %}
        <div class="text-subtitle">
          Server Name: {{ serverPayConfirmDialog['data']['name']}}
        </div>
        <div class="text-subtitle">
          Server Specs: {{ serverPayConfirmDialog['data']['performance']}}
        </div>
        <div class="text-subtitle">
          Server Billing Price: {{
          serverPayConfirmDialog['data']['ongoing_price']}}
        </div>
        <div class="text-subtitle">
          Server Setup Fee: {{ serverPayConfirmDialog['data']['setup_fee']}}
        </div>
        {% endraw %}
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        <div class="text-h6">Disclaimer</div>
        {% raw %}
        <q-scroll-area style="height: 100px">
          {{ serverPayConfirmDialog['data']['disclaimer'] }}
        </q-scroll-area>
        {% endraw %}
      </q-card-section>
      <q-separator></q-separator>
      <q-card-section>
        {% raw %}
        <p class="text-wrap">
          <strong>Price:</strong> {{
          serverPayConfirmDialog.data.payment_data.amount_sat }} sats<br />
          <strong>Description:</strong> {{
          serverPayConfirmDialog.data.payment_data.description }}<br />
          <strong>Expire Date:</strong> {{
          serverPayConfirmDialog.data.payment_data.expires_on }}<br />
          <strong>Hash:</strong> {{
          serverPayConfirmDialog.data.payment_data.payment_hash }}<br />
        </p>
        {% endraw %}
      </q-card-section>
      <q-card-actions>
        <q-form>
          <q-btn
            unelevated
            v-show="!paymentDisabled"
            color="deep-purple"
            @click="confirmPayment"
            >Confirm Server</q-btn
          >
          <q-btn
            unelevated
            v-show="paymentDisabled"
            color="yellow"
            text-color="black"
            disable
            >Not enough funds!</q-btn
          >
        </q-form>
      </q-card-actions>
    </q-card>
  </q-dialog>
</div>
