{% extends "base.html" %} {% from "macros.jinja" import window_vars with context
%} {% block page %}
<div class="row q-col-gutter-md">
  <div class="col-12 col-md-8 col-lg-7 q-gutter-y-md">
    <q-card>
      <q-card-section>
        <q-btn
          unelevated
          color="deep-purple"
          @click="serverBuyDialog.show = true"
          >Create Server</q-btn>
      </q-card>
      <q-card>
        <q-card-section>
          <q-table
            title="Servers"
            dense
            flat
            :data="servers"
            row-key="id"
            :columns="serversTable.columns"
            :pagination.sync="serversTable.pagination"
            >
            {% raw %}
            <template v-slot:header="props">
              <q-tr :props="props">
                <q-th auto-width></q-th>
                <q-th v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.label }}
                </q-th>
                <q-th auto-width></q-th>
              </q-tr>
            </template>
            <template v-slot:body="props">
              <q-tr :props="props">
                <q-td auto-width>
                  <q-btn
                    unelevated
                    dense
                    size="xs"
                    icon="account_balance"
                    :color="($q.dark.isActive) ? 'grey-7' : 'grey-5'"
                    type="a"
                    :href="props.row.walllink"
                    target="_blank"
                    ></q-btn>
                  <q-tooltip> Top Up Server Time </q-tooltip>
                </q-td>
                <q-td v-for="col in props.cols" :key="col.name" :props="props">
                  {{ col.value }}
                </q-td>
                <q-td auto-width>
                  <q-btn
                    flat
                    dense
                    size="xs"
                    @click="deleteWallet(props.row.id)"
                    icon="cancel"
                    color="pink"
                    ></q-btn>
                </q-td>
              </q-tr>
            </template>
            {% endraw %}
          </q-table>
        </q-card-section>
      </q-card>
  </div>

  <div class="col-12 col-md-4 col-lg-5 q-gutter-y-md">
    <q-card>
      <q-card-section class="">
        <div class="text-h6">Bitclouds Extension API</div>
      </q-card-section>
      <q-card-section class="q-pa-none">
        <q-separator></q-separator>
        <q-list>
          <q-separator></q-separator>
        </q-list>

      </q-card-section>
    </q-card>
  </div>
</div>

{% include "bitclouds/_server_buy_dialog.html" %}

{% endblock %}

{% block scripts %} {{ window_vars(user) }}
<script>
  new Vue({
      el: '#vue',
      mixins: [windowMixin],
      data: function () {
          return {
              servers: [
                  {id: 'blahblah-420', type: 'clightning', exp: 1000}
                ],
              serverBuyDialog: {
                  show: false,
                  data: {
                      serverTypes: [],
                      selectedServerType: '',
                    },
                },
              serverPayConfirmDialog: {
                  show: false,
                  payment_data: {
                  },
                  data: {
                      name: '',
                      invoice: '',
                      performance: '',
                      disclaimer: '',
                      ongoingPrice: '',
                      setupFee: '',
                      supportLink: '',
                      payment_hash: '',
                      amount: '',
                      expiry: ''
                    },
                },
              serversTable: {
                  columns: [
                      {name: 'id', align: 'left', label: 'ID', field: 'id'},
                      {name: 'type', align: 'left', label: 'Type', field: 'type'},
                      {name: 'exp', align: 'left', label: 'Expires On', field: 'exp'},
                    ],
                  pagination: {
                      rowsPerPage: 20,
                    }
                },
            }
        },

      methods: {
          getServerTypes: function () {
              var self = this
              LNbits.api.request(
                  "GET",
                  "/bitclouds/api/v1/server_types",
                  this.g.user.wallets[0].inkey
                )
                .then(function (response) {
                    self.serverBuyDialog.data.serverTypes = response.data
                  })
            },
          submitServerInvoice: function () {
              var self = this
              LNbits.api.request(
                  "POST",
                  "/bitclouds/api/v1/request_invoice",
                  this.g.user.wallets[0].inkey,
                  { image: self.serverBuyDialog.data.selectedServerType },
                )
                .then(function (response) {
                    self.serverPayConfirmDialog['data']['invoice'] = response.data['paytostart']
                    self.serverPayConfirmDialog['data']['name'] = response.data['host']
                    self.serverPayConfirmDialog['data']['disclaimer'] = response.data['disclaimer']
                    self.serverPayConfirmDialog['data']['performance'] = response.data['performance']
                    self.serverPayConfirmDialog['data']['setupFee'] = response.data['setup_fee']
                    self.serverPayConfirmDialog['data']['supportLink'] = response.data['support']
                    self.serverPayConfirmDialog['data']['ongoingPrice'] = response.data['price']
                    self.serverPayConfirmDialog['payment_data'] = response.data['payment_data']
                    self.serverPayConfirmDialog['payment_data']['expires_on'] = new Date(response.data['payment_data']['expires_on'] * 1000) 
                    self.serverPayConfirmDialog.show = true
                  })
            },
        },
      created: function () {
          this.getServerTypes()

          // axios is available for making requests
          axios({
              method: 'GET',
              url: '/example/api/v1/tools',
              headers: {
                  'X-example-header': 'not-used'
                }
            }).then(function (response) {
                self.tools = response.data
              })
        }
    })
</script>
{% endblock %}
